<ng-container class="list-item-container">
  <img [src]="imageSrc" alt="doc">
  <ng-container class="annotation-container">
    <div class="annotation" *ngFor="let block of annotations"
         [style.width.%]="block.width"
         [style.height.%]="block.height"
         [style.top.%]="block.top"
         [style.left.%]="block.left"
         [style.z-index]="isDrawing ? 0 : 2"
         (click)="onAnnotationClick(block)">
    </div>
  </ng-container>
  <div #canvas class="annotation-canvas"></div>
</ng-container>
